.rigth {
	float: right;
}

a {
	text-decoration: none;
	color: #0df;
}

a:hover {
	text-decoration: underline;
	color: #1ef;
}

body {
	background-color: #1e1e1e;
	color: #fff;
	padding: 1em;
	margin: 0 auto;
}

h1 {
	font-size: 1rem;
	padding: .5rem 0;
}

h1,
h2,
h3,
h4 {
    font-size: 1rem;
	font-weight: 100;
	margin: 1.25rem 0;
	padding: 0;
}

h2 {
	border: 2px solid #0df;
	color: #0df;
	font-size: 1rem;
	line-height: 2.6rem;
	overflow-wrap: break-word;
	padding: 1rem;
}

h3 {
	font-size: 1rem;
	line-height: 1.2rem;
	overflow-wrap: break-word;
	padding: .5rem 0;
}

h3,
h4 {
	margin: 1.25rem .3125rem;
}

h4 {
	font-size: 1rem;
}

hr {
	background-color: #0ef;
	border: none;
	color: #0ef;
	height: 2px;
}

html {
	color: #fff;
    font-display: swap;
	font: 400 large "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	max-width: 100%;
	overflow-x: auto;
}

i {
	display: inline-block;
	margin-right: .2rem;
}

img {
	height: auto;
	max-width: 100%;
}

img[src$='#center'] {
	display: block;
	margin: .7rem auto;
}

img[src$='#floatleft'] {
	float: left;
	margin: .7rem;
	max-width: 100%;
}

img[src$='#floatright'] {
	float: right;
	margin: .7rem;
	max-width: 100%;
}

p {
	text-align: justify;
	text-justify: inter-word;
}

pre {
	border: 2px solid #0df;
	line-height: 1.4;
	overflow-x: auto;
	padding: 1rem;
}

pre,
code {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
